In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Historical Options Chain.csv')
data.head()

,Call Open Interest,Call Volume,Call Theta,Call Vega,Call Gamma,Call Delta,Call Ask,Strike,Put Ask,Put Delta,Put Gamma,Put Vega,Put Theta,Put Volume,Put Open Interest
0,375,287,-4.917,1.504,0.347,66,66.00,3830,24.25,34,0.346,1.505,-4.914,67,303
1,212,342,-4.803,1.531,0.356,64,62.50,3835,25.50,35,0.357,1.530,-4.805,123,329
2,659,417,-4.690,1.554,0.368,62,58.75,3840,27.00,37,0.366,1.555,-4.687,246,533
3,437,223,-4.569,1.576,0.377,61,55.25,3845,28.25,39,0.378,1.575,-4.570,47,963
4,1506,317,-4.307,1.611,0.391,57,48.90,3850,31.88,42,0.392,1.611,-4.307,269,981

In [10]:
previous = data[-40:-20]
most_recent = data[-20:]
prev_strikes = []
for x in previous['Strike']:
    prev_strikes.append(x)
print(prev_strikes)
for _ in prev_strikes:
    test = most_recent[most_recent['Strike']==_]
    print(test)

[3825, 3830, 3835, 3840, 3845, 3850, 3855, 3860, 3865, 3870, 3875, 3880, 3885, 3890, 3895, 3900, 3905, 3910, 3915, 3920]
     Call Open Interest  Call Volume  Call Theta  Call Vega  Call Gamma  \
157                 820          981      -2.311      1.427       0.426

     Call Delta  Call Ask  Strike  Put Ask  Put Delta  Put Gamma  Put Vega  \
157          29     15.25    3920    59.75         69       0.42     1.435

     Put Theta  Put Volume  Put Open Interest
157     -2.343           5                178